/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f6f8;
    color: #333;
}

/* Header */
header {
    background: #1336d2;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Main content */
main {
    padding: 40px 20px;
     /* background: #5e5f63; */
    max-width: 800px;
    margin: auto;
    text-align: center;
}

/* Paragraph */
main p {
    font-size: 18px;
    margin-top: 10px;
}

/* Footer */
footer {
    background: #b81717;
    color: #ddd;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive design */
@media (max-width: 600px) {
    main {
        padding: 20px 10px;
    }

    header h1 {
        font-size: 24px;
    }
}